<div class="col-12 filters-area gap-5 row m-auto mt-3">
    <div class="col-2 ms-5 background-white p-2">
        <h5 class=" d-flex justify-content-center filter-font-color pt-2">Filters</h5>
        <div class="filter-search ps-4">
            <p-multiSelect [options]="filmsResponse" optionLabel="title" optionValue="title" [(ngModel)]="selectedMovies"
                placeholder="Movie Names" filter="false"/>

            <p-multiSelect [options]="speciesResponse" [(ngModel)]="selectSpecies" optionLabel="name" optionValue="name"
                placeholder="Species" filter="false"/>

            <div class="mb-3">
                <label for="startYear">Start Year:</label>
                <input id="startYear" type="text" [(ngModel)]="selectedStartYear" placeholder="e.g., 30BBY"/>
                </div>
        
                <div class="mb-3">
                <label for="endYear">End Year:</label>
                <input id="endYear" type="text" [(ngModel)]="selectedEndYear" placeholder="e.g., 5ABY"/>
                </div>
        </div>

        <div class="d-flex justify-content-center pt-4">
            <button pButton pRipple label="Search" class="p-button-success" (click)="applyFilters()">
            </button>
        </div>
    </div>

    <div class="col-8 ms-2 background-white">
        <div class="row pt-2">
            <span class="filter-font-color">SEARCH RESULTS</span>
            <p>(By default this table have all the data)</p>
        </div>
        <div class="row p-3">
            <table class="my-table">
                <thead class="my-table headers">
                    <tr>
                        <th>
                            SI No.
                        </th>
                        <th>
                            Character Name
                        </th>
                        <th>
                            Species
                        </th>
                        <th>
                            Birth Year
                        </th>
                    </tr>
                </thead>
                <tbody class="table-background-color my-table body" *ngFor="let peopleData of filteredPeopleDataResponse; let i = index">
                    <tr>
                      <td>{{i+1}}</td>
                      <td><a class="cursor-pointer" (click)="navigateToDetailsPage(i+1)">{{peopleData.name}}</a></td>
                      <td>Species {{peopleData?.species?.length}}</td>
                      <td>{{peopleData?.birth_year !== 'unknown' ? peopleData?.birth_year : '...'}}</td>
                    </tr>
                  </tbody>
            </table>
        </div>
          
          <div class="pagination d-flex justify-content-end">
            <button pButton pRipple label="Previous" class="p-button-success" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"></button>
            <button pButton pRipple label="Next" class="p-button-success ms-3" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"></button>
          </div>
    </div>
</div>


