
<div class="col-12 filters-area gap-5 row m-auto mt-3">
    <div class="col-2 ms-5 background-white p-2">
        <h5 class=" d-flex justify-content-center filter-font-color pt-2">Filters</h5>
 <div class="filter-search">
<p-multiSelect 
            [options]="cities" 
            [(ngModel)]="selectedCities" 
            optionLabel="name" 
            placeholder="Select Cities" />
        
            <p-multiSelect 
            [options]="cities" 
            [(ngModel)]="selectedCities" 
            optionLabel="name" 
            placeholder="Select Cities" />
        
            <p-multiSelect 
            [options]="cities" 
            [(ngModel)]="selectedCities" 
            optionLabel="name" 
            placeholder="Select Cities" />
        
            <p-multiSelect 
            [options]="cities" 
            [(ngModel)]="selectedCities" 
            optionLabel="name" 
            placeholder="Select Cities" />
        
            <p-multiSelect 
            [options]="cities" 
            [(ngModel)]="selectedCities" 
            optionLabel="name" 
            placeholder="Select Cities" />   
 </div>
        
        
    
    </div>
    <div class="col-8 d-flex ms-2 justify-content-center background-white">
        <h2>oi</h2>
    </div>
</div>
