/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
    background-color: #e6e6e6;
}


.color-while {
    color: #ffff;
}

.f-700 {
    font-weight: 700;
}

.f-400 {
    font-weight: 400;
}

.header-section {
    background: #239972;
}

.background-white {
    background-color: #ffff;
}

.filter-font-color {
    font-weight: 700;
    color: #239972;
}

.p-multiselect {
    width: 180px;
    margin: 5px;
    height: 35px;
    background-color: #e6e6e6;
}

.p-multiselect .p-multiselect-label {
    padding: 5px 0.75rem;
    font-weight: 700;
    color: #239972;
}

.p-multiselect-items-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--white-color);
  background-color: var(--white-color);
}

.p-multiselect-items-wrapper::-webkit-scrollbar {
  border: 1px solid var(--white-color);
  width: 3px;
  background-color: var(--filter-sidebar-background);
}

.p-multiselect-items-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

.p-multiselect-items-wrapper .p-multiselect-items {
    padding: 0px !important;
}

.p-multiselect-panel .p-multiselect-header {
    padding: 0.3rem 1rem !important;
}

.table-background-color {
    background-color: #e6e6e6;
}

.cursor-pointer {
    cursor: pointer;
}